<!DOCTYPE html>
<html>
  <%- include('../../layout/head')%>
<body>
  <%- include('../../layout/header')%>
  <main>
  <div id="title">Search by Title or Author</div>
  <form action="/search" method="post" >
    <div id="searchlayout">
        <label>
          <input type="text" id="searchbox" name="searchBook" placeholder="Enter a title or author">
        </label>
      <div id="radio">
        <label id="label"> Title
          <input type="radio" name="search" value="title">
        </label>
      </div>
      <div id="radio">
        <label> Author
          <input type="radio" name="search" value="author" required >
        </label>
      </div>
      <div>
        <button id ="submission">Search the Google Books API</button>
      </div>
    </div>
      </form>
      </main>
    <%- include('../../layout/footer') %>

</body>
</html>