<!DOCTYPE html>
<html>
<head>
  <title>Book App</title>
  <link rel="stylesheet" href="reset/base.css"/>
  <link rel="stylesheet" href="styles/base.css"/>
</head>
<body>
  <header>

  </header>
  <main>
    <ul>
      <% booklist.forEach( element => { %>
        <li><%= element %> </li>
      <%} )%>
    </ul>
  </main>
  <footer>

  </footer>
</body>
</html>