<!DOCTYPE <!DOCTYPE html>
<html>
<head>
  <title>Book App</title>
</head>
<body>
  <header>

  </header>
  <main>
    <h1>Hello World</h1>
  <div>Search by Title or Author</div>
  <form action="/search" method="post" ></form>
  <label>
      <input type="text" name="Enter a title or author">
  </label>
      <label> Title
        <input type="radio" name="search"
        value="title">
      </label>
      <label> Author
          <input type="radio" name="search"
          value="author" required >
        </label>
        <button>Search the Google Books API</button>
      </main>
      <footer>

      </footer>
</body>
</html>