<!DOCTYPE html>
<html>
<head>
  <title>Book App</title>
  <link rel="stylesheet" href="styles/reset.css"/>
  <link rel="stylesheet" href="styles/base.css"/>
</head>
<body>
  <header>
    <div>Best Books!</div>
  </header>
  <main>
  <div id="title">Search by Title or Author</div>
  <form action="/search" method="post" >
  <label>
      <input type="text" name="search">
  </label>
      <label> Title
        <input type="radio" name="search"
        value="title">
      </label>
      <label> Author
          <input type="radio" name="search"
          value="author" required >
        </label>
        <button>Search the Google Books API</button>
      </form>
      </main>
      <footer>

      </footer>

</body>
</html>