* {
  display: border-box;
}
body {
  background-color: #888;
  color: #ffff;
  display: grid;
  width: 100%;
}

div {
  text-align: center;
}

/* form {
  text-align: center;
} */
#title {
  width: 100%;
  padding-top: 2vw;
  font-size: 5vw;
  height: 10vw;
  text-align: center;
  background-color: #444;
}


#searchbox {
  border-radius: .5em;
  width: 44vw;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 3vw;
  position: relative;
  padding: 5vw;
}
#radio {
  background-color: #666;
  border-radius: .5em;
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 3vw;
  position: relative;
  padding: 5vw;
}
#submission{
  background-color: #000;
  color: white;
  border-radius: .5em;
  width: 54vw;
  margin-right: 2vw;
  margin-left: 2vw;
  margin-top: 3vw;
  position: relative;
  padding: 5vw; 
}
#searchlayout {
  text-align: center;
}

.hidden {
  display: none;
}

img{
  height: 80vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  margin-bottom: 3%;
  border: 3px solid #fff;
  border-radius: .2em;
  box-shadow: .3vw .5vw #888;
}

#titleA{
  text-align: center;
  font-family: 'Paytone One', sans-serif;
  font-size: 5vw;
  width: 50%;
  margin-left: 25%;
  margin-top: 4vw;
  margin-bottom: .5%;
  text-shadow: .3vw .5vw #000;
}

#author{
  text-align: center;
  font-size: 3vw;
  width: 50%;
  margin-left: 25%;
  margin-top: 4vw;
  font-style: italic;
  font-weight: bold;
  margin-bottom: .5%;
  color: #222;
  /* text-shadow: .3vw #000; */
}
#description{
  text-align: justify;
  font-size: 1.2vw;
  width: 50%;
  margin-left: 25%;
  margin-top: .6%;
  margin-bottom: .6%;
  padding: 7px;
}
#divcontain {
  height: 150vw;
  width: 75vw;
  margin-left: 9vw;
  margin-top: 10vw;
  background-color: #bbb;
  margin-bottom: .6%;
  border: 3px solid #444;
  border-radius: .2em;
  box-shadow: .3vw .5vw .3vw .5vw #222;
  padding-top: 7px;
}
#viewdeets {
    background-color: #000;
    color: white;
    border-radius: .2em;
    width: 51vw;
    margin-right: 2vw;
    margin-left: 7vw;
    margin-top: 10vw;
    margin-bottom: 0;
    padding: 5vw; 
}
#descrip {
  overflow-x: hidden;
  padding-left: 6vw;
  margin-top: 3vw;
  margin-bottom: 4vw;
  width: 60vw;
  height: 20vw;
}