<footer>
  <div id="footcontain">
    <input class= "footradio" type="radio" href='/'>
    <input class= "footradio" type="radio" href='/new'>
    <input class= "footradio" type="radio" href='/'>
    <input class= "footradio" type="radio" href='/new'>
  </div>
</footer>