<header>
  <div>Best Books!</div>
  <div>
  <nav id = "hamburger" role ="navigation">
    <div id="navToggle">
      <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
      <ul id="nav">
        <a href='#'><li>Home</li></a>
        <a href='/new'><li>Search</li></a>
        <a href='#'><li>Saved Books</li></a>
        <a href='#'><li>Home</li></a>
      </ul>
      </div>
  </nav>
  </div>


</header>